<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid Nepal</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div><a class="navbar-brand" href="https://covidnepal.tech/"><img src="static/Coronavirus.png">&nbsp;&nbsp;&nbsp;&nbsp;Covid Nepal (BETA)</a>
        </div>
    </nav>


    <div id="body-main-contact">
        <h1 class = "contact-heading">About App:</h1>
        <p class = "contact-paragraph">Through this webapp, we aim to provide correct and updated stats of the current coronavirus situation of Nepal. We plan to add more features very soon which will help visualise this data visually.
        <br>We have also added some very useful links along with a few hand-picked resources, which we believe will be very useful for people who are locked in their homes and have a lot of time to be more productive.
        </p>

        <h1 class = "contact-heading">About the Developers:</h1>
        <p class = "contact-paragraph">We are two freshmen studying Bachelor in Computer Engineering from IOE, Pulchowk Campus.
            In an attempt to apply what we learned, we have developed this website from scratch. </p>

     <h1 class = "contact-heading">Contact:</h1>
        <p class = "contact-paragraph">We'd love to hear from you! Please mail us your queries/ suggestions at: <a href="mailto:info@covidnepal.tech" class="footer-links">info@covidnepal.tech</a></p>
<br>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ url_for('cases') }}">Home</a></li>
                <li class="list-inline-item"><a href="{{ url_for('contact') }}">Contact</a></li>
{#                <li class="list-inline-item"><a href="#">About</a></li>#}
{#                <li class="list-inline-item"><a href="#">Terms</a></li>#}
{#                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>#}
            </ul>
            <p class="copyright">Coded by <a href="https://aabhusanaryal.com.np/" class="footer-links">Aabhusan Aryal</a> and <a class="footer-links" href="https://www.facebook.com/mohit.agarwal.2212">Mohit Agarwal</a>
            <br>#STAYSAFE</p>
        </footer>
    </div>
</body>

</html>