<!DOCTYPE html>
<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KNWWK6G');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid Nepal</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNWWK6G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div><a class="navbar-brand" href="https://covidnepal.tech/"><img src="static/Coronavirus.png">&nbsp;&nbsp;Covid Nepal</a>
        </div>
    </nav>


    <div id="body-main-contact">
        <h1 class = "contact-heading" id = "about">About App:</h1>
        <p class = "contact-paragraph">Through this webapp, we aim to provide correct and updated stats of the current coronavirus situation of Nepal. We plan to add more features very soon which will help visualise this data.
        <br>We have also added some useful links along with a few hand-picked resources, which we believe will be very useful for students as well as others stuck at home.
        </p>

        <h1 class = "contact-heading">About the Developers:</h1>
        <p class = "contact-paragraph">We are two freshmen studying Bachelor in Computer Engineering from IOE, Pulchowk Campus.
            In an attempt to apply what we have learnt, we developed this app from scratch. </p>

     <h1 class = "contact-heading" id = "contact">Contact:</h1>
        <p class = "contact-paragraph">We'd love to hear from you! Please mail us your queries/ suggestions at: <a href="mailto:info@covidnepal.tech" class="footer-links">info@covidnepal.tech</a></p>
<br>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ url_for('cases') }}">Home</a></li>
                <li class="list-inline-item"><a href="{{ url_for('contact') }}#contact">Contact</a></li>
                <li class="list-inline-item"><a href="{{ url_for('contact') }}#about">About</a></li>
{#                <li class="list-inline-item"><a href="#">Terms</a></li>#}
{#                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>#}
            </ul>
            <p class="copyright">Coded by <a href="https://aabhusanaryal.com.np/" class="footer-links">Aabhusan Aryal</a> and <a class="footer-links" href="https://www.facebook.com/mohit.agarwal.2212">Mohit Agarwal</a>
            <br>#STAYSAFE</p>
        </footer>
    </div>
</body>

</html>