<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid Nepal</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div><img src="static/Coronavirus.png"><a class="navbar-brand" href="https://covidnepal.tech/">Covid Nepal</a>
        </div>
    </nav>


    <div id="body-main-contact">
        <h1>About App:</h1>
        <p>Our aim is to provide people with easy access to one of the most important data during this time.
            We also aim to provide a reliable source through our website for access of data.
            Important links to various portals are highlighted for the user, along with links to free resources to practise from during the lockdown period.
            Our platform enables the user to get timely information, news and resources. We will be updating it with new features in the near future.</p>
        <h1>Contact Dev:</h1>
        <p>Email us your inquiries at info@covidnepal.tech</p>
        <h1>About Dev:</h1>
        <p>	We are students studying Bachelors in Computer Engineering from IOE,Pulchowk Campus.
            In an attempt to apply what we learned, we have developed this website from scratch. Feel free to give suggestions!</p>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ url_for('cases') }}">Home</a></li>
                <li class="list-inline-item"><a href="{{ url_for('contact') }}">Contact</a></li>
{#                <li class="list-inline-item"><a href="#">About</a></li>#}
{#                <li class="list-inline-item"><a href="#">Terms</a></li>#}
{#                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>#}
            </ul>
            <p class="copyright">#StaySafe</p>
        </footer>
    </div>
</body>

</html>