<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Covid Nepal</title>
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="icon" type="image/png" sizes="512x512" href="static/Nepal(1).png">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.min.css">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><img src="static/Coronavirus.png"><a class="navbar-brand" href="https://covidnepal.tech/">Covid Nepal</a>
        </div>
    </nav>
    <div id="data-block">
        <div class="container" id="case-container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-4" id="total-block-main">
                    <div id="total-block" class="boxes">
                        <h1 class="box-content">{{ total }}</h1>
                        <h1 class="box-title">Total</h1>
                    </div>
                </div>
                <div class="col-md-4" id="active-block-main">
                    <div id="active-block" class="boxes">
                        <h1 class="box-content">{{ active }}</h1>
                        <h1 class="box-title">Active</h1>
                    </div>
                </div>
                <div class="col-md-4" id="recovered-block-main">
                    <div id="recovered-block" class="boxes">
                        <h1 class="box-content">{{ recovered }}</h1>
                        <h1 class="box-title">Recovered</h1>
                    </div>
                </div>
            </div>
            <p id="last-updated">*LAST UPDATED:{{time}} hours ago</p>
        </div>
    </div>
    <div id="useful-link-title-box"></div>
    <div id="data-block-1">
        <div class="container" id="useful-links-container" style="max-width: 100%;">
            <div class="row">
                <div class="col-md-4" id="unknown-block-main">
                    <div id="unknown-block" class="boxes-bottom">
                        <h1 class="bottom-box-title">Useful Links</h1>
                        <ul class="list-group">
                            <li class="list-group-item"><span><a href="https://bit.ly/mohpcovid">MoHP's COVID Portal</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/whocovidnepal">WHO's COVID Portal</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/covidviber">MoHP's Viber Group</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/hamroswastha">Hamro Swastha App</a></span></li>
                            <li class="list-group-item"><span><a href="">List Group Item 5</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4" id="freebies-block-main">
                    <div id="freebies-block-1" class="boxes-bottom">
                        <h1 class="bottom-box-title">Free Resources</h1>
                        <ul class="list-group">
                            <li class="list-group-item"><span><a href="https://bit.ly/coursera-covid"></a>Free Courses on Coursera.org</span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/khan-academy-covid">Free Courses on Khan Academy</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/covidnepal19">Free SkillShare subscription for students</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/free-books-covid">Free Stories on Audible</a></span></li>
                            <li class="list-group-item"><span><a href="https://bit.ly/eBooks-redshelf">Free eBooks for Students</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4" id="news-block-main">
                    <div id="freebies-block" class="boxes-bottom">
                        <h1 class="bottom-box-title">News</h1>
                        <ul class="list-group">
                            <li class="list-group-item"><span>List Group Item 1</span></li>
                            <li class="list-group-item"><span>List Group Item 2</span></li>
                            <li class="list-group-item"><span>List Group Item 3</span></li>
                            <li class="list-group-item"><span>List Group Item 4</span></li>
                            <li class="list-group-item"><span>List Group Item 5</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lockdown-info">
        <h1>Lockdown Information:</h1>
        <p>Lockdown ends on:{{lockdown_end_date}}({{days_to_go}} to go)</p>
    </div>
    <div class="container">
        <div id="social-share">
            <h1>Spread credible news, not virus!</h1><div><iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fcovidnepal.tech%2F&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out this Covid 19 tracker!" data-url="https://covidnepal.tech/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></script></div></div>
    </div>
    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Contact</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">#StaySafe</p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>